
EndPointsRest/.vs/EndPointsRest/v17/.futdcache.v1
EndPointsRest/EndPointsRest/obj/project.nuget.cache
*.cache
EndPointsRest/.vs/EndPointsRest/v17/.suo
EndPointsRest/EndPointsRest/obj/Debug/net6.0/EndPointsRest.csproj.AssemblyReference.cache
EndPointsRest/EndPointsRest/obj/EndPointsRest.csproj.nuget.dgspec.json
EndPointsRest/EndPointsRest/obj/project.assets.json
EndPointsRest/EndPointsRest/obj/project.nuget.cache
